/* home file */
.button {
    background-color: #A0A742;
    color: #FFF;
    border-radius: 10px;
    border: 1px solid #A0A742;
    padding: 10px 20px;
    cursor: pointer;
}
.button:hover{
    background-color: #BBCF9B;
    border-color: #BBCF9B;
}

/* popup file */
.button-container button:hover{
    background-color: #C7DBE2;
}

/* login file */
.button1 {
    background-color: #33576E;
    color: #FFF;
    border-radius: 5px;
    border: none;
    padding: 10px 20px 10px 20px;
    margin: 10px 10px 10px 10px;
    cursor: pointer;
}
.button1:hover{
    background-color: #6290ac;
}
.signUp{
    text-decoration: none;
    color: #33576E;
}
.signUp:hover{
    color: #A0A742;
}

/* signup file */
.logIn{
    text-decoration: none;
    color: #33576E;
}
.logIn:hover{
    color: #A0A742;
}