/* font */
.body {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
  }

/* home file */
.button {
    background-color: #A0A742;
    color: #FFF;
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    }

.button:hover{
    background-color: #BBCF9B;
    color: #404c2d;
}

/* popup file */
.button-container button:hover{
    background-color: #C7DBE2;
}

.button1 {
    background-color: #33576E;
    color: #FFF;
    border-radius: 5px;
    border: none;
    padding: 10px 20px 10px 20px;
    margin: 10px 10px 10px 10px;
    cursor: pointer;
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.button1:hover{
    background-color: #6290ac;
}

.signUp{
    text-decoration: none;
    color: #33576E;
}

.signUp:hover{
    color: #A0A742;
}

/* logIn + signUp*/
.fontStyle{
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
    background-color: #C7DBE2;
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
}

.fontStyle h3{
    font-size: 30px;
}

.fontStyle h2{
    font-size: 20px;
    margin-top: 8px;
}

.fontStyle p{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: normal;
    margin: 0;
}

.insertInp{
    background-color: #A0A742;
    color: #FFF;
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.logIn{
    text-decoration: none;
    color: #33576E;
}

.logIn:hover{
    color: #A0A742;
}

/* Profile */
.content{
    font-family: "Abril Fatface", serif;
}

.content h4{
    font-family:Arial, Helvetica, sans-serif;
    margin: 5px 0 1px 0; 
    font-size: 15px;
}

.content h3{
    font-weight: bold;
}

.profileInp{
    background-color: #33576E;
    color: #FFF;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.profileInp[type="date"]::-webkit-calendar-picker-indicator{
    background-color: #A0A742;
    color:#FFF;
    border: none;
    border-radius: 5px;
    padding: 7px;
    margin-left: 36px;
    margin-right: 0px;
    cursor: pointer
}

.profileInp[type="date"]::-webkit-calendar-picker-indicator:hover{
    background-color: #404c2d;
}

.subBut{
    border: none;
    border-radius: 5px;
    padding: 10px 30px 10px 30px;
    margin: 20px 30px 10px 50px;
    background-color: #A0A742;
    color: #FFF;
}

.subBut:hover{
    background-color: #404c2d;
    color: #FFF;
}